@{
    ViewBag.Title = "Home Page";
}
@ViewBag.Message
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Description</h2>
            <p>
                This page helps upload documents,images and vidoes.Uploading can be a diffcult at times but sorting them out are the worse.
                Here my program will help you sort it out and put in tables so it is much easier for people to find and read the files.
                This will it makes it easier fo the end-user to find files.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">

            <h2>Option Selection</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {enctype = "multipart/form-data" }))
            {
        <form>

            <input type="radio" name="radioButtonInput" value="Document">Document<br />
            <input type="radio" name="radioButtonInput" value="Image">Image<br />
            <input type="radio" name="radioButtonInput" value="Video">Video<br />
            <input type="file" name="file" />

            <input type="submit" class="btn btn-default" value="Submit" />

        </form>
            }
            
        </div>
    </div>
    
</div>

