
@{
    ViewBag.Title = "Index";
}
<a href="~/Views/AboutMe/Index.cshtml">~/Views/AboutMe/Index.cshtml</a>

<h2>About me</h2>

<div class="container" style="background-color: lightgray;">
    <div class="row">
        <div class="col-md-8">
            <h2>Something About Me:</h2>
            <p>
                Hi. My name is Ismail Carim I am 20 years old. I went to TMS school from Grade R to Grade 7 then i
                attended SHS High School from Grade 8 to Grade 12.I am currently studing Bcom Informatics at UP.My
                dream was study acounting from grade 7 but went into the IT field at the start of 2020 it was a late
                change in my life.I have 2 sisters and I am the middle child.I stay in centurion which is very nice
                as campus is not so far away.I hope to finish my degree and one day be a program developer but will
                see what the future holds.
                <br />
                <br />
                I love to play sports and enjoy it alot. I like the outdoor life.I truly think it is important to be
                fit and health.Tennis and cricket is what I truly love.I play it in my free time and with this you
                make a lot of friends.
                <br />
                <br />
                Family is really important is my life.Family time is important for me I spend lot of time with my
                family.I enjoy it and it frees my mind when i have lot of things on it.I also like my social life
                and like going out it is good when you meet another people you feel loved.
                <br />
                <br />
                This is me and here was a little about me.

            </p>
        </div>
        <div class="col-md-4">

            <img src="~/Content/WhatsApp Image 2022-06-08 at 1.59.56 PM.jpeg" alt="Picture of Ismail Carim" style="height: 400px; width:415px" />

        </div>
    </div>
</div>

